.par{
    font-weight: bold;
    font-size: larger;
    margin-left: 5%;
}


.p1{
    font-weight: bold;   
}
.ftr{
    font-style: italic;
    margin-right: 70%;
    text-align: center;
}